body{
    background-coLor:  #2c3e50;

}

* {
    margin: 0;
    padding: 0;
}
i {
    margin-right: 10px;
}
/*--------------------------Content------------------------------*/


.modal-backdrop {
    z-index: 0;
}

.centeredContent{
    display: flex;
    justify-content: center;
}
.details{
    margin: 20px 0;
    background-coLor: #fff;
    padding: 20px 10px;
    position: relative;
    z-index: 1;
}

.detailsAdd{

    padding: 5px 0px !important;
    color: #fff;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}
.detailsAdd:hover{
    color: #ff5722;
    transition: 0.6s all;
}
.detailsAdd::before{
    width: 5px ;
    height: 100%;
    background-coLor: #ff5722;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.6s all;
}
.details h2{
    font-size: 22px;
    text-transform: uppercase;
    transition: 0.6s all;
}
.delete {
    border: 1px solid darkred;
    coLor: darkred;
    align-content: space-between;
}

.view {

    justify-content: center;
    border: 1px solid #008000;
    coLor:#008000;
}
.details p{
    font-size: 14px;
    transition: 0.6s all;
}
.details a{
    text-decoration: none;
    text-transform: capitalize;

    padding: 6px 12px;
    display: inline-block;
    font-size: 14px;

    transition: 0.6s all;
}
.details::before{
    content: "";
    width: 5px ;
    height: 100%;
    background-coLor: #ff5722;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.6s all;
    
    
}
.details:hover::before{
    width: 100%;
}
.details:hover h2,.details:hover p{
    color: #fff;
}
.details:hover a{
    font-weight: bold;
}


.delete:hover {
    border: 1px solid darkred;
    background-color: darkred;
    coLor: #fff;
    
}
.view:hover {
    border: 1px solid #008000;
    background-color: #008000;
    coLor: #fff;
}