body{
    background-coLor:  #2c3e50;
    font-famiLy: lato;

}

.gradient-custom {
    height: 25%;
    padding-top: 7%;
    /* fallback for old browsers */

    /* Chrome 10-25, Safari 5.1-6 */


    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}